body{
    margin: 0px;
    background-color: rgb(235, 234, 234);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
div img{
    padding-left: 30px;
    height: 80px;
}
header div span{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.logoFix{
    vertical-align: 20px;
}
header{
    padding-bottom: 10px;
    background-color: white;
}
main{
    margin-top: 40px;
    background-color: white;
    margin-left: 270px;
    margin-right: 270px;
    padding: 20px 30px;
    border-radius: 5px;
}
.btn{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}
.btn-blue{
    background-color: cornflowerblue;
    color: white;
}
.btn-section{
    color: rgb(180, 179, 179);
    border-color: rgb(180, 179, 179);
}
.list{
    background-color: white;
    padding: 50px;
    margin-top: 5px;
    margin-left: 270px;
    margin-right: 270px;
    border-radius: 5px;
}
.checkmark{
    border-radius: 50%;
    border: solid 1px green;
    width: 17px;
    height: 17px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;

}
.color{
    border-radius: 10px;
    padding: 5px 9px;
    color: white;
    font-weight: 400;
}
br{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cross{
    border-radius: 50%;
    border: solid 1px red;
    width: 17px;
    height: 17px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.purple{
    background-color: rgb(128, 38, 128);
}
.green{
    background-color: rgb(59, 145, 59);
}
.pink{
    background-color: rgb(196, 80, 99);
}
.orange{
    background-color: rgb(187, 134, 21);
}
.blue{
    background-color: cornflowerblue;
}
.green2{
    background-color: rgb(130, 185, 46);
}